/* Start Header and Nav-bar */
.a1{
  /* background-image: url(https://plus.unsplash.com/premium_photo-1675764793512-5b8b4b9615c5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2xhc3MlMjBlZmZlY3R8ZW58MHx8MHx8fDA%3D); */
  /* background-image: url(//thumbs.dreamstime.com/b/modern-abstract-motion-banner-dark-background-colourful-light-76877365.jpg); */
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230609/pngtree-colors-of-colorful-light-on-dark-background-wallpaper-hd-the-best-image_2941709.jpg);
  height: 550px;

}

.login{
  display: flex;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* background-image: url(https://img.freepik.com/premium-photo/illustration-fitness-equipments-design-background_916191-36121.jpg); */
    /* background-image: url(https://plus.unsplash.com/premium_photo-1675764793512-5b8b4b9615c5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2xhc3MlMjBlZmZlY3R8ZW58MHx8MHx8fDA%3D); */
    /* background-repeat: repeat-y;  */
    background-repeat: repeat-x;  
    background-size: cover;
    
}

header {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: bolder;
  font-size: large;
  color: #eeff02;
  
}

.login-button{
   height: 40px;
   width: 80px;
   border: 2px solid rgb(255, 0, 0);
   font-size: medium;
   font-weight:lighter;
   background-color: rgb(0, 0, 0);
   color: white;
   margin-bottom: 10px;
   margin-left: 650px;
   margin-top: 20px;
}

.login-button:hover{
  background-color: #727171;
}

nav {
    padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

li {
  display: inline;
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #fbff00;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    margin-top: 0;
    
}

h1{
    height: 20px;
    margin-top: 2px;
    font-size: 50px;
}

h5{
    font-size: 12px;
    color: #00ffff;
    margin-bottom: 50px;
}

.span1 {
    display: flex;
    width: 800px;
    height: 1px;
    background-color: white;
    margin-left: 150px;
        
}
/* End Header and Nav-bar */

/* Start Stats */
.home1{
  display: flex;
}

.image2{
  
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    max-height: 250px;
    margin-left: 130px;
    margin-top: 40px;
    
  }
  
  
  .stats {
    /* display: flex; */
    justify-content: space-between;
    width: 400px;
  }
  
  .stat {
    text-align: center;
    margin-bottom: 10px;
    width: 45%;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
  }
  
  .stat h2 {
    margin-top: 0;
  }
  
  .stat p {
    font-size: 24px;
    margin-bottom: 0;
  }
  
  .Gym-Stats{
    color: rgb(255, 7, 7);
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
  }
  /* End Stats */

  /* Start Equipmenrt Reports */
  .main1{
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .report1{
    
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-weight: bolder;
    font-size: xx-large;
    color: #000000;
    margin-top: 120px;
    margin-left: 170px;
    
  }

  .report2{
    margin-top: 20px;
    margin-left: 150px;
    font-style: oblique;
  }

  .image1{
    height: 300px;
    width: 400px;
    margin-left: 130px;
    margin-top: 50px;
  }

   .button1{ 
    margin-top: 60px;
    margin-left: 280px;
    background-color: #eeff02;
    border: none;
    height: 40px;
    width: 100px;
    font-weight: 500px;
    font-weight: bolder;

  }

  .button1 a{
     color: black;
  }
  .button1:hover{
    background-color: rgb(228, 230, 159);
  }
  
  /* End Equipmenrt Reports */

  /* Start About  */

.container1{
  
  
}

.about{
	padding:1px 0px;
	background-color:#ffffff;
}

.about .content{ 
 -webkit-display: flex;
 display: flex;
 width: 950px;
}
.about .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.about .content .box .inner{
	background-color:#222222;
}
.about .content .box:nth-child(2) .inner{
  background-color: #006eff;
	/* background-color: #c11325; */
}
.about .content .box .inner .img img{
  width: 100%;
}
.about .content .box .inner .text{
	padding:30px;
}

.about .content .box .inner .text h4{
  font-size: 20px;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: bolder;
  color: rgb(238, 255, 0);
  text-transform: capitalize;
  text-align: center;

}
.about .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color:#ffffff;
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
/* End About */

/*Price Section*/

.container2{
   
}
.price-package{
	padding: 80px 0px;
	background-color: #ffffff;
  width: 1000px;
}
.price-package h2{
	font-size: 30px;
	font-weight: 500;
	color:#000000;
	padding: 0px 0px 20px;
	text-align: center;
}

.price-package .title-p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 20% 50px;
 font-family: 'Open-sans', sans-serif;
}

.price-package .content{
	-webkit-display: flex;
	display: flex;
  width: 900px;
}
.price-package .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}
.price-package .content .box .inner{
	background-color: #f0f0f0;
}
.price-package .content .box .inner .price-tag{
	padding: 15px;
	font-size: 20px;
  background-color: #24d41e;
	/* background-color: #c11325; */
	color:#ffffff;
	text-align: center;
	font-weight: 700;
}
.price-package .content .box .inner .text{
	padding:30px 15px;
	text-align: center;
}
.price-package .content .box .inner .text h3{
	font-size: 24px;
	color:#222222;
	margin:0;
	padding:0px 0px 20px;
	font-weight: 700;
}
.price-package .content .box .inner .text p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 0 5px;
 font-family: 'Open-sans', sans-serif;	

}
.price-package .content .box .inner .text .btn{
    padding: 8px 30px;
    background-color: #24d41e;

    /* background-color: #c11325; */
    /* color: #ffffff; */
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}
.price-package .content .box .inner .text .btn:hover{
	border-color:#222222;
	color:#222222;
	background-color: transparent;
}
.price-package .content .box .inner .img img{
	width: 100%;
}


